/* general styyle */
h1 {
    font-family: "Pacifico", cursive;
    font-weight: 500;
    font-size: 50px;
    color: #352e28;
}
h1::before {
    content: '';
    position: absolute;
    width: 260px;
    height: 20px;
    background-color: #FEC260;
    bottom: 47px;
    z-index: -1;
    transition: all 0.5s;
}
h1:hover::before {
    height: 40px;
}
h2 {
    font-family: "Righteous", cursive;
    font-size: 25px;
    background-image: linear-gradient(to right, #12672b, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #d99c39;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #fec26055;
}
.btn-update.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #DDA94B;
    --bs-btn-border-color: #DDA94B;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1E4174;
    --bs-btn-hover-border-color: #1E4174;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1E4174;
    --bs-btn-active-border-color: #1E4174;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #DDA94B;
    --bs-btn-disabled-border-color: #DDA94B;
}
.btn-submit.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #D1512D;
    --bs-btn-border-color: #D1512D;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #a03315;
    --bs-btn-hover-border-color: #a03315;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #a03315;
    --bs-btn-active-border-color: #a03315;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #D1512D;
    --bs-btn-disabled-border-color: #D1512D;
}
body {
    font-family: "PT Sans Caption", sans-serif;
    background-color: #F7ECDE;
}
/* h1 style */
.underlineStyle {
    border-bottom: dotted 2px black;
}

.visitBtn.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #9eb23b;
    --bs-btn-border-color: #9eb23b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6e8018;
    --bs-btn-hover-border-color: #6e8018;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6e8018;
    --bs-btn-active-border-color: #6e8018;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #9eb23b;
    --bs-btn-disabled-border-color: #9eb23b;
}
.deleteBtn.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #eb1d36;
    --bs-btn-border-color: #eb1d36;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ba081d;
    --bs-btn-hover-border-color: #ba081d;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ba081d;
    --bs-btn-active-border-color: #ba081d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #eb1d36;
    --bs-btn-disabled-border-color: #eb1d36;
}
.updateBtn.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: rgb(218, 218, 25);
    --bs-btn-border-color: rgb(218, 218, 25);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(134, 134, 27);
    --bs-btn-hover-border-color: rgb(134, 134, 27);
    --bs-btn-focus-shadow-rgb: rgb(134, 134, 27);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(134, 134, 27);
    --bs-btn-active-border-color: rgb(134, 134, 27);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: rgb(218, 218, 25);
    --bs-btn-disabled-border-color: rgb(218, 218, 25);
}
 a{
    all: unset;
}